/* PAGE STYLING */
body {
    margin: 0;
    padding: 0;
    font-family: "Georgia", serif;
    background: #abc9ca;
    color: #443b31;
}


/* NAVIGATION */
nav {
  background-color: rgb(255, 171, 171);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


nav ul {
  display:flex;
  justify-content:center;
  padding:15px 0;
  list-style: none;
}


nav a {
  text-decoration:none;
  color: #003f8a;
  font-size: 18px;
  font-weight:bold;
  margin: 0 20px;
}


nav a:hover {
  border-bottom: 2px solid #DA291C;
}


/* HEADER */
header {
    text-align: center;
    padding: 50px 20px;
    background: #f0e6d8;
    border-bottom: 4px solid #f0e2d3;
}


header h1 {
    font-size: 46px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}


header p {
    font-size: 18px;
    opacity: 0.8;
}


/* HERO SECTION */
.hero {
    display: flex;
    max-width: 1100px;
    margin: 60px auto;
    align-items: center;
    padding: 20px;
    gap: 40px;
}


.hero-text {
    flex: 1;
}


.hero-text h2 {
    font-size: 32px;
    margin-bottom: 15px;
}


.hero-text p {
    line-height: 1.7;
}


.hero-img {
    width: 350px;
    border-radius: 14px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}


/* MAIN SECTIONS */
.section {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px 40px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.section.light {
    background: #f7efe6;
}


.section h3 {
    margin-bottom: 15px;
    font-size: 26px;
}


.section p {
    line-height: 1.7;
    margin-bottom: 15px;
}


/* INLINE IMAGE */
.inline-img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
    margin: 15px 0;
}


/* LIST STYLING */
ul {
    margin-left: 20px;
    line-height: 1.7;
}


/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 70px;
    background: #e7dbcd;
    color: #3b3028;
    border-top: 3px solid #d4c3af;
}
