* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    color: #333;
    background-image: linear-gradient(to bottom, rgb(233, 169, 73), rgb(255, 137, 3));
}

/* NAVIGATION */
nav {
    background-image:linear-gradient(border-top, rgb(233,169,73), rgb(255,137,3));
    padding: 15px 30px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 800;
    transition: color 0.3s;
}

nav a:hover,
nav a.active {
    color: #9549b6;
}

/* HEADER */
.landmarks-header {
    text-align: center;
    padding: 130px 20px 80px; 
    background: url(https://us.123rf.com/450wm/javiergil/javiergil1212/javiergil121200055/17003238-pont-au-change-par%C3%ADs-francia.jpg?ver=6) center/cover no-repeat;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    position: relative;
    transition: transform 0.5s ease-in-out;
}

/*size of the header text */
.landmarks-header h1 {
    font-size: 3rem; 
    margin-bottom: 20px;
    animation: fadeInDown 3s ease-out;
}

/* Header paragraph */
.landmarks-header p {
    font-size: 1.5rem; 
    animation: fadeInUp 1s ease-out;
}

/* Hover effect on header */
.landmarks-header:hover {
    transform: scale(1.05);
}

/* LANDMARKS GRID */
.landmarks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
}

/* LANDMARK CARD */
.landmark-card {
    background-color: white;
    border-radius: 12px;
    width: 280px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.4s, box-shadow 0.4s;
    cursor: pointer;
}

.landmark-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: transform 0.5s;
}

.landmark-card h2 {
    color: #e63946;
    font-size: 1.3rem;
    padding: 15px 20px 5px;
}

.landmark-card p {
    padding: 0 20px 20px;
    font-size: 0.95rem;
    color: #555;
}

/* HOVER EFFECTS */
.landmark-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

.landmark-card:hover img {
    transform: scale(1.1);
}

/* FOOTER */
footer {
    background-color: #ec5317;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

/* ANIMATIONS */
@keyframes fadeInDown {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .landmarks-container{
        flex-direction:column;
        align-items:center;
    }
}